# Shree Shyam Group Environment Variables Example
VITE_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycby9kEq0ZnynbCDdp4y04sh8NadfHnrdf3fKIafuUh3T_zjO0tJx_7FL1pUwF_O73NsIcQ/exec
VITE_SSPACIA_URL=https://www.sspacia.com
VITE_SALES_EMAIL=sales@sspacia.com
VITE_DESIGN_EMAIL=design.shreeshyamco@gmail.com
VITE_PHONE=+917600393779
